section {
    display: flex;
    justify-content: space-between;
}

.box {
    height: 150px;
    width: 150px;
    background-color: black;
}

.random, .color-input {
    display: flex;
    justify-content: center;
}

